.Ticket{
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  display: flex;
  @media screen and (max-width: 630px){
    flex-direction: column;
  }
  &__buy{
    flex: 1 1 30%; 
    padding: 25px 20px;
    border-right: 1px solid #eceff1;
    text-align: center;
    & img{
      margin-bottom: 20px;
    }
    &-btn{
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08;
      border-radius: 5px;
      background-color: #ff6d00;
      color: #fff;
      font-size: 16px;
      line-height: 22px;
      padding: 5px 35px;
      font-weight: 400;
      &:hover{
        background-color: #ff8124;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 0 #f7661d
      }
    }
  }
  &__info{
    flex:1 1 70%;
    display: flex;
    justify-content: center;
    padding: 25px 20px;
    @media screen and (max-width: 420px){
      flex-direction: column;
      padding: 0 20px 25px 20px;
    }
    & .time{
      color: #4a4a4a;
      font-size: 32px;
    }
    & .place{
      margin-top: 5px;
      color: #4a4a4a;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }
    & .date{
      color: #8b9497;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
    }
    &-stops{
      width: 120px;
      margin: 0 10px;
      color: #8b9497;
      font-size: 10px;
      font-weight: 600;
      height: 20px;
      position: relative;
      @media screen and (max-width: 420px){
        display: flex;
        justify-content: center;
        // transform: rotate(90deg);
        height: 100px;
        width: 10px;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        align-self: center;
      }
      &::after{
        content: url('../../img/airplane.svg');
        transform: rotate(90deg);
        display: block;
        right: 0;
        bottom: -6px;
        position: absolute;
        @media screen and (max-width: 420px){
          transform: rotate(180deg);
          right: 7px;
          bottom: 0;
        }
      }
      &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85%;  
        border-bottom: 1px solid #d2d5d6;
        @media screen and (max-width: 420px){
          top: 0;
          left: -5px;
          border: none;
          height: 85%;
          border-left: 1px solid #d2d5d6;
        }
      }
    }
  }
}