.Filters{
  // flex: 0 1 235px;
  min-width: 190px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  border-radius: 5px;
  background-color: #ffffff;
  height: 100%;
  &__part{
    padding: 15px;
    h3{
      display: flex;
      justify-content: space-between;
      text-align: left;
      color: #4a4a4a;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin: 0;
      .stop-quantity_all{
        margin-left: 10px;
        text-align: left;
        color: #3e9ce8;
        font-size: 10px;
        &:hover{
          color: darken($color: #3e9ce8, $amount: 20)
        }
      }
    }
    .currency-list{
      display: flex;
      margin-top: 10px;
    }
    .stop-quantity-list{
      margin-top: 10px;
      @media screen and (max-width: 830px){
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
      }
    }
  }
}